{% load static %}
<!DOCTYPE html>
<html lang="ru">

<head>
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript" >
        (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
         m[i].l=1*new Date();
        for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
        k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
        (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

        ym(93190357, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true
        });
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/93190357" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->
    

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <base href="https://offmaxline.ru/projects/">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="keywords" content="Миронов Максим, дизайнер Максим Миронов, дизайнер брянск, дизайнер москва, ландщафтный дизайн, дизайн квартиры брянск, дизайн квартиры москва">
    <meta name="description" content="Миронов Максим Александрович дизайнер-визуализатор. Потомственный художник. Родился в 1998 году в России.">
    <meta name="author" content="Tikhon Chabusov" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    {% if master %}
        <title>{{ master }} &mdash; {{ title }}</title>
    {% else %}
        <title>{{ title }}</title>
    {% endif %}
    <!-- FAVICON -->
    <link rel="icon" type="image/x-icon" href="{{ favicon.url }}">
    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="{% static "main/css/burger_menu.css" %} "/>
    <link rel="stylesheet" href="{% static "main/founts/icomoon/style.css" %} "/>
    <link rel="stylesheet" href="{% static "main/css/bootstrap.min.css" %}"/>
    <link rel="stylesheet" href="{% static "main/css/magnific-popup.css" %}"/>
    <link rel="stylesheet" href="{% static "main/css/jquery-ui.css" %}"/>
    <link rel="stylesheet" href="{% static "main/css/owl.carousel.min.css" %}"/>
    <link rel="stylesheet" href="{% static "main/css/owl.theme.default.min.css" %}"/>
    <link rel="stylesheet" href="{% static "main/founts/flaticon/font/flaticon.css" %}"/>
    <link rel="stylesheet" href="{% static "main/css/style.css" %}"/>
    <link rel="stylesheet" href="{% static "main/css/aos.css" %}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.css">
    <link rel="stylesheet" href="{% static "main/css/thumbnail-gallery.css" %}">
    <!--<link rel="stylesheet" href="{% static "main/css/my_background.css" %}">-->
    
    
<style>
.row {
    margin-right: 0px;
}

@font-face {
    font-family: "Fashion Fetish Light";
    src: url({% static "main/founts/Fashion Fetish/Fashion Fetish Light.ttf" %}) format("truetype");
    font-style: normal;
    font-weight: normal;
}

body {
  line-height: 1.7;
  color: #cfcfd1;
  font-weight: 300;
  font-size: 1rem;
  background: url({{ background.url }});
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Fashion Fetish Light", serif;
}
</style>
{% block head %}
{% endblock %}    
    
</head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-49HY9CEWJE"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-49HY9CEWJE');
</script>
<body>

<div class="site-wrap">


    <div class="site-mobile-menu">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>

    <header class="site-navbar py-3" role="banner">
      <div class="container-fluid">
        <div class="row align-items-center">
          <div class="col-11 col-xl-2">
            <h1 class="mb-0"><a href="/" class="text-white h2 mb-0">{{ surname }}<span class="text-primary1">{{ name }}</span> </a></h1>
          </div>
          <div class="col-12 col-md-10 d-none d-xl-block">
            <nav class="site-navigation position-relative text-right" role="navigation">
              <ul class="site-menu js-clone-nav mx-auto d-none d-lg-block">
                {% block mainmenu %}
                    <ul class="site-menu js-clone-nav mx-auto d-none d-lg-block">
                        {% for m in menu %}
                            <li><a href="{% url m.url_name %}">{{ m.title }}</a></li>

                        {% empty %}
                             <li><a href="#">Навигация находится в разработке</a></li>
                        {% endfor %}
                    </ul>
                {% endblock %}
              </ul>
            </nav>
          </div>
          <!-- Burger menu -->
          <div class="hamburger-menu">
                <input id="menu__toggle" type="checkbox" />
                <label class="menu__btn" for="menu__toggle">
                     <span></span>
                </label>
                <ul class="menu__box">
                    <li><a class="menu__item" href="/">ГЛАВНАЯ</a></li>
                    {% for m in menu %}
                    <li><a class="menu__item" href="{% url m.url_name %}">{{ m.title }}</a></li>
                    {% endfor %}
                </ul>
            </div>
          </div>
        </div>
    </header>

    <div class="site-section site-hero inner">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-10">
            <span class="d-block mb-3 caption" data-aos="fade-up">{{ header_1 }}</span>
            <h1 class="d-block mb-4" data-aos="fade-up" data-aos-delay="100">{{ header_2 }}</h1>
          </div>
        </div>
      </div>
    </div>


{% block content %}



{% endblock %}



    <footer class="site-footer">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md-4">
            <h2 class="footer-heading text-uppercase mb-4">О сайте</h2>
            <p>{{ quote }}</p>
            <p style="text-align: right">{{ quote_author }}</p>
          </div>
          <div class="col-md-3 ml-auto">
            <h2 class="footer-heading text-uppercase mb-4">Навигация</h2>
            <ul class="list-unstyled">
                {% for m in menu %}
                    <li><a href="{% url m.url_name %}">{{ m.title }}</a></li>

                {% empty %}
                    <li><a href="#">Навигация находится в разработке</a></li>
                {% endfor %}
              <!--<li><a href="{% url 'OFFMAXLINE' %}">Главная</a></li>-->
              <!--<li><a href="{% url 'About' %}">Обо мне</a></li>-->
              <!--<li><a href="{% url 'Projects' %}">Проекты</a></li>-->
              <!--<li><a href="{% url 'Contacts' %}">Контакты</a></li>-->
            </ul>
          </div>
          <div class="col-md-4">
            <h2 class="footer-heading text-uppercase mb-4">Connect with Me</h2>
            <p>
              <a href="https://twitter.com/oFfMaXline1998" class="p-2" target="_blank"><span class="icon-twitter"></span></a>
              <a href="https://vk.com/offmaxline" class="p-2" target="_blank"><span class="icon-vk"></span></a>
              <a href="https://instagram.com/offmaxline?igshid=ZDdkNTZiNTM=" class="p-2" target="_blank"><span class="icon-instagram"></span></a>
              <a href="https://rarible.com/offmaxline/sale" class="p-2" target="_blank"><span>Rarible</span></a>
            </p>
          </div>
        </div>
      </div>
    </footer>


</div>


  <script src="{% static 'main/js/active_page.js' %}"></script>
  <script src="{% static "main/js/jquery-3.3.1.min.js" %}"></script>
  <script src="{% static "main/js/jquery-migrate-3.0.1.min.js" %}"></script>
  <script src="{% static "main/js/jquery-ui.js" %}"></script>
  <script src="{% static "main/js/popper.min.js" %}"></script>
  <script src="{% static "main/js/bootstrap.min.js" %}"></script>
  <script src="{% static "main/js/owl.carousel.min.js" %}"></script>
  <script src="{% static "main/js/jquery.stellar.min.js" %}"></script>
  <script src="{% static "main/js/jquery.countdown.min.js" %}"></script>
  <script src="{% static "main/js/jquery.magnific-popup.min.js" %}"></script>
  <script src="{% static "main/js/bootstrap-datepicker.min.js" %}"></script>
  <script src="{% static 'main/js/aos.js' %}"></script>
  <script src="{% static 'main/js/main.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.js"></script>
<script>
    // baguetteBox.run('.mb-4');
    window.addEventListener('load', function() {
    baguetteBox.run('.tz-gallery');
    });
    
</script>

<div id="preloader_malc">
	<div>
		LOADING ...
	</div>
</div>


<style type="text/css"> 
	#preloader_malc {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: rgba(0, 0, 0, .6);
		z-index: 99
	}

	#preloader_malc div {
		background: black;
		width: 260px;
		height: 40px;
		line-height: 40px;
		border-radius: 8px;
		font-family: arial;
		font-size: 15px;
		color: grey;
		text-align: center;
		box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
		position: fixed;
		z-index: 999;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		margin: auto
	}
</style> 


<script type="text/javascript">

	window.onload = function() {

		setTimeout(function() {

			document.getElementById("preloader_malc").style.display = "none";

		}, 400);

	};

</script>

</body>


</html>