{% extends 'main/base.html' %}
{% load static %}


{% block head %}

<link rel="icon" type="image/x-icon" href="{{ favicon.url }}">

<style>
      body {
        background: url({{ backgroundContact.url }});
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
      }
    </style>
{% endblock %}

{% block content %}

<div class="site-section">
      <div class="container">
        <div class="row">
          <div class="col-md-6" data-aos="fade-up">


            <form action="#" method="POST" > <!-- Убрать novalidate после проверок формы -->
                {% csrf_token %}

              <div class="row form-group">
                <div class="col-md-6 mb-3 mb-md-0">
                  <label class="" for="fname" for="{{ form.first_name.id_for_label }}">{{ form.first_name.label}}</label>
                  <div type="text">{{ form.first_name }}</div>
                </div>
                <div class="col-md-6">
                  <label class="" for="lname" for="{{ form.last_name.id_for_label }}">{{ form.last_name.label}}</label>
                  <div type="text">{{ form.last_name }}</div>
                </div>
              </div>

              <div class="row form-group">
                <div class="col-md-12">
                  <label class="" for="email" for="{{ form.email.id_for_label }}">{{ form.email.label}}</label>
                  <div type="email">{{ form.email }}</div>
                </div>
              </div>

              <div class="row form-group">
                <div class="col-md-12">
                  <label class="" for="subject" for="{{ form.subject.id_for_label }}">{{ form.subject.label}}</label>
                  <div type="subject">{{ form.subject }}</div>
                </div>
              </div>

              <div class="row form-group">
                <div class="col-md-12">
                  <label class="" for="message" for="{{ form.message.id_for_label }}">{{ form.message.label}}</label>
                  <div  >{{ form.message }}</div>
                </div>
              </div>

              <div class="row form-group">
                <div class="col-md-12">
                  <input type="submit" value="Send Message" class="btn btn-primary py-2 px-4 text-white">
                </div>
              </div>

            </form>
          </div>
          <div class="col-md-5 ml-auto" data-aos="fade-up" data-aos-delay="100">
            <div class="p-4 mb-3">
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}